<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javastudy.CourseMapper">
  <select id="get" resultMap="course">
  	select
  		c.id cid,
  		c.name cname,
  		c.type ctype,
  		c.hours chours,
  		sid,
  		sname,
  		ssex,
  		spwd,
  		sphone,
  		sgrade
  	from
  		course c
  	left join
	  	(
	  	select  
			s.id sid,
			s.name sname,
			s.sex ssex,
			s.pwd spwd,
			s.phone sphone,
			s.grade sgrade,
			s.photo sphoto,
			sc.cid	sccid
		from 
			student_course sc 
		left join
			student s
		on 
			sc.sid = s.id
		) as temp
	on temp.sccid = c.id
	where 
		c.id = #{id}
  </select>
  <resultMap type="javastudy.Course" id="course">
  	<id property="id" column="cid"/>
	<result property="name" column="cname"/>
	<result property="type" column="ctype"/>
	<result property="hours" column="chours"/>
  	<collection property="students" ofType="javastudy.Student">
  		<id property="id" column="sid"/>
	  	<result property="name" column="sname"/>
	  	<result property="sex" column="ssex"/>
	  	<result property="pwd" column="spwd"/>
	  	<result property="phone" column="sphone"/>
	  	<result property="grade" column="sgrade"/>
	  	<result property="photo" column="sphoto"/>
  	</collection>
  </resultMap>
</mapper>